@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
  width: 90%;
  flex:1;
}

.disabled {
  background-color: gray;
}

.active {
  background-color: #61dafb;
}

.active:hover {
  background-color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
